* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.editForm {
  position: fixed;
  top: 40vh;
  left: 70vw;
  padding: 5px;
}
.editForm input {
  display: block;
  /* border: none;
  border-bottom: 2px solid #dddddd;
  margin: 0.25em;
  font-size: 1.5rem; */
}

.tableContainer {
  width: 50vw;
  margin: 0 0 0 20vw;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.about {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  /* line-height: em; */
  max-height: 3em;
}
